{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="wallpaper">
        <form method="POST" action="{% url 'create recipe' %}">
            {% csrf_token %}

            <h1> SignUp Corner</h1>

            {% for field in form %}
                <div class="small input-group">

                    {{ field }}
                    <label class="{{ field.name }}">{{ field.label }}</label>

                </div>
            {% endfor %}

            <input type="submit" class="button-register" title="Submit">
        </form>
    </section>

{% endblock %}