{% extends 'new_navigation.html' %}
{% load static %}

{% block content %}

    <h1><i>Eat <span>better</span> not less ?</i></h1>
    <p><a href="{% url 'create recipe' %}" class="button-register" style="width: 40px">Add Recipe</a></p>
    <br>
    {% if object_list %}
        {% for recipe in object_list %}
            <div class="box-card view-card">
                <a href="{% url 'details recipe' recipe.pk %}">

                    <div class="card-published">{{ recipe.date }}</div>
                    <div class="card-img">
                        <img src="{{ recipe.img }}" alt="photo of meat">
                    </div>
                    <div class="card-text">
                        <u style="color: #ECECEC"><h3>{{ recipe.title }}</h3></u>
                        <br>
                        <p>{{ recipe.description | truncatewords:35 }} </p>
                        <br>
                        <p style="display: inline-block"> <i class="fa-solid fa-clock"></i> {{ recipe.cooking_time }} min </p>
                        <p style="display: inline-block"> <i class="fa-solid fa-user-group"></i>  {{ recipe.servings }} </p>
                        {% if true %}
                            <button class="button-register" style="background-color: #3f51b5;">Edit Recipe</button>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <div class="card-joined border">
                            <a href="{% url 'like recipe' recipe.pk %}">
                                <div class="value">

                                    {% if user in recipe.likes.all %}
                                        <i class="fa-solid fa-thumbs-up" style="color: #ECECEC"></i>
                                    {% else %}
                                        <i class="fa-solid fa-thumbs-up"></i>
                                    {% endif %}
                                    {{ recipe.all_likes }}
                                </div>
                                <div class="type">Liked</div>
                            </a>
                        </div>

                        <div class="card-joined"><a href="{% url 'favorite recipe' recipe.pk %}">
                            <div class="value">

                                {% if user in recipe.favorites.all %}
                                    <i class="fa-solid fa-heart" style="color: #ECECEC"></i>
                                {% else %}
                                    <i class="fa-solid fa-heart"></i>
                                {% endif %}

                            </div>
                            <div class="type">Add to favorite</div>
                        </a>

                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    {% else %}
        <h1>There is no recipes</h1>
    {% endif %}


{% endblock %}