{% extends 'new_navigation.html' %}
{% load static %}

{% block content %}

    <h1><i>Eat <span>better</span> not less ?</i></h1>

    <div class="box-card recipe">
        <div class="card-img recipe"><img src="{{ object.img }}" alt="meat img"></div>
        <div class="card-text recipe">
            <h2>{{ object.title }} </h2>
            <h3>Published by {{ object.author }}</h3>
            <h3>Published on {{ object.date }}</h3>

        </div>
        <div class="options recipe">
            <br>
            <div>
                {% if object.vegan %}
                    <i class="fa-solid fa-leaf" style=""></i>
                {% else %}
                    <i class="fa-solid fa-drumstick-bite"></i>
                {% endif %}
            </div>
            <div><i class="fa-solid fa-user-group"></i> {{ object.servings }}</div>
            <div><i class="fa-solid fa-clock"></i> {{ object.cooking_time }}min</div>
            <div><i class="fa-solid fa-thumbs-up" style="padding: 0"></i>{{ object.all_likes }}</div>
            <div><a href="{% url 'update recipe' object.pk %}" class="button-register">Edit</a></div>
            <div><a href="{% url 'delete recipe' object.pk %}" class="button-register">Delete</a></div>

        </div>
        <div class="card-text2 recipe">
            {{ object.description }}
        </div>

    </div>


{% endblock %}