{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1><i>These are <span>MACHINES</span>!</i></h1>

    {% for obj in object_list %}
        <div class="comment center">
            <h2><span>{{ obj.title }}</span></h2>
            <h3>{{ obj.type_of_workout }}</h3>
            <h5><i>{{ obj.date }}; Start at: {{ obj.hour }}</i></h5>

            <ul class="navbar-links center">
                <br>
                <li><a href="{% url 'workout details' obj.pk %}" class="navbar-btn">Details</a></li>
                <li><a href="{% url 'signup workout' obj.pk %}" class="navbar-btn">remove it</a></li>
            </ul>

        </div>
    {% endfor %}

    <h1></h1>
    <p><a href="{% url 'profile page' user.id %}" class="button-register" style="width: 40px">BACK</a></p>

{% endblock %}