{% extends 'new_navigation.html' %}
{% load static %}
{% block content %}

    <section class="wallpaper">

        <form method="POST" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <h1> Update your profile </h1>
            <div class="input-group">
                <input type="text" name="first_name" id="first_name" required>
                <label for="first_name"><i class="fa-solid fa-person-simple"></i> First Name: </label>
                <p>{{ form.errors.email|escape }}</p>
            </div>

            <div class="input-group">
                <input type="text" name="last_name" id="last_name" required>
                <label for="last_name"><i class="fa-solid fa-person-simple"></i> Last Name: </label>
                <p>{{ form.errors.password1|escape }}</p>
            </div>
            <div class="input-group">
                <textarea name="description" id="description" class="input" rows="5" required></textarea>
                <label for="description"><i class="fa-solid fa-pen-fancy"></i> Description: </label>
            </div>
            <div class="input-group">>
                <label for="gender"> Gender: </label>
                <select id="gender" name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Do not show">Do not show</option>
                </select>
            </div>
            <div class="input-group">
                <input type="file" name="photo" id="photo" accept="image/*">
                <label for="photo"><i class="fa-solid fa-person-simple"></i> Choose Photo </label>
            </div>
            <input type="submit" class="button-register" title="Submit">
        </form>
    </section>

{% endblock %}