{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1><i>Profile Page</i></h1>
    <div class="profile-card">
        <div class="title">
            <h1>
                {% if object.gender == 'Male' %}Mrs. {% endif %}
                {% if object.gender == 'Female' %} Ms. {% endif %}
                {{ object.full_name }}</h1>
        </div>
        <div class="cv">
            <h4>
                <h3> Age: {{ profilemodel.age }}
                    {% if object.user.trainer %}
                        <span> <i class="fa-solid fa-star"></i> </span>
                    {% endif %}
                </h3>
                <h3> Gender: {{ profilemodel.gender }}</h3>
                <h3>{{ profilemodel.user.email }}</h3>
                <h4 class="center">ABOUT ME</h4>
                <p class="center">
                    {{ profilemodel.description }}
                </p>
                {% if owner or user.is_superuser %}
                    <ul class="navbar-links center">
                        <br>
                        <li><a href="{% url 'my recipes' object.pk %}" class="navbar-btn">My Recipes</a></li>
                        <li><a href="{% url 'my workouts' object.pk %}" class="navbar-btn">My Workouts</a></li>
                    </ul>
                {% endif %}

            </h4>
        </div>

        <div class="profile-img">
            {% if object.photo %}
                <img src="{{ object.photo.url }}" alt="photo img">
                <a href="{% url 'update photo profile' object.pk %}"><i class="fa-solid fa-camera"></i></a>
            {% else %}
                <img src="https://media.istockphoto.com/vectors/unknown-person-silhouette-whith-blue-tie-vector-id521573873?k=20&m=521573873&s=612x612&w=0&h=2hHpMHSPRwIvcST3YR5PEU3zp9U8MUV6mBIZ6kN6Tmo="
                     alt="photo img">
                <a href="{% url 'update photo profile' object.pk %}"><i class="fa-solid fa-camera"></i></a>
            {% endif %}
        </div>

        <div class="slider">
            {% if owner %}
                <a href="{% url 'update profile' profilemodel.pk %}" class="remove">
                    <div class="button-register small">Edit</div>
                </a>
                <a href="{% url 'delete profile' object.pk %}" class="remove">
                <div class="button-register small">Delete</div>
            {% endif %}
            </a>
        </div>

    </div>


{% endblock %}