{% extends 'new_navigation.html' %}
{% load static %}

{% block content %}

    <h1><i>Profile Page</i></h1>
    <div class="profile-card">
        <div class="title">
            <h1>{{ object.full_name }}</h1>
        </div>
        <div class="cv">
            <h4>
                <h3>
                    Age: {{ profilemodel.age }}
                </h3>
                <h3>
                    Gender: {{ profilemodel.gender }}
                </h3>
                <h3>
                    {{ profilemodel.user.email }}
                </h3>
                <h4 class="center">ABOUT ME</h4>
                <p class="center">
                    {{ profilemodel.description }}
                </p>

            </h4>
        </div>

        <div class="profile-img">
            {% if profilemodel.photo %}
                <img src="{{ profilemodel.photo }}" alt="photo img">
            {% else %}
                <img src="https://media.istockphoto.com/vectors/unknown-person-silhouette-whith-blue-tie-vector-id521573873?k=20&m=521573873&s=612x612&w=0&h=2hHpMHSPRwIvcST3YR5PEU3zp9U8MUV6mBIZ6kN6Tmo="
                     alt="photo img">
            {% endif %}
        </div>

        <div class="slider">
            <div class="button-register small" title="Submit"><a href="{% url 'update profile' profilemodel.pk %}" class="remove">Edit</a></div>
            <div class="button-register small" title="Submit"><a href="#" class="remove">Delete</a></div>
        </div>

    </div>


{% endblock %}