{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <h1> </h1>
        <h1><i>Push through the pain <span>EVERY</span> single day?</i></h1>
        <div class="center form-control">
            <form action="{% url 'create workout' %}" method="post" class="center">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" class="button-register" title="Submit">
            </form>
        </div>
    </section>

{% endblock %}
