{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="wallpaper">
{#        {{ form }}#}
        <form method="POST" action="{% url 'update profile' user.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h1> Update your profile </h1>
            <div class="input-group">
                {{ form.first_name }}
                <label for="first_name"><i class="fa-solid fa-person-simple"></i> First Name: </label>
                <p>{{ form.errors.first_name|escape }}</p>
            </div>

            <div class="input-group">
                {{ form.last_name }}
{#                <input type="text" name="last_name" id="last_name" required>#}
                <label for="last_name"><i class="fa-solid fa-person-simple"></i> Last Name: </label>
                <p>{{ form.errors.last_name|escape }}</p>
            </div>

            <div class="input-group">
                {{ form.description }}
{#                <textarea name="description" id="id_description" class="input" rows="5" required></textarea>#}
                <label for="id_description"><i class="fa-solid fa-pen-fancy"></i> Description: </label>
                <p>{{ form.errors.id_description|escape }}</p>
            </div>
            <div class="input-group">>
                <label for="gender"> Gender: </label>
                <select id="gender" name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Do not show">Do not show</option>
                </select>
            </div>
            <div class="input-group">
                <input type="file" name="photo" id="photo" accept="image/*">
                <label for="photo"><i class="fa-solid fa-person-simple"></i> Choose Photo </label>
            </div>

            <input type="submit" class="button-register" title="Submit">
        </form>
    </section>

{% endblock %}