footer a {
    color: white;
    text-decoration-color: white;
    text-decoration-line: none;
    font-size: 20px;
}
footer .footer-links ul li {
    padding: 4px;
}

#map>img {
    width: 300px;
    margin: -20px;
    opacity: 0.7;
    border-radius: 50px;
}



footer {
    padding: 0;
    text-decoration-color: white;
    grid-area: footer;
    border-color: white;
    background-color: #3a3a3a;
    border-top-left-radius: 190px;
    opacity: 0.9;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 40px 140px 20px;
    grid-template-areas: "social social social"
                        "links info map"
                        "bottom bottom bottom";

}
footer section ul li {
    display: inline-block;
    font-size: 45px;
    color: white;
    padding: 10px;
    opacity: 0.6;

}
footer section ul li:hover {
    opacity: 1;
    cursor: pointer;
}
footer section ul {
    margin: -30px;
}

#social {
    grid-area: social;
}

#info {
    grid-area: info;
}

#links {
    grid-area: links;
}

#map {
    grid-area: map;
}

#bottom {
    grid-area: bottom;
}

.footer img {
    width: 50px;

}

/*footer section:nth-child(2) {*/
/*    background-color: silver;*/
/*}*/
/*.contacts {*/
/*    display: inline;*/
/*}*/
/*#address {*/
/*!*    font-size: 20px;*!*/
/*!*}*!*/

/*footer ul {*/
/*    padding: 15px;*/
/*}*/

/*footer h3 {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*footer > section div {*/
/*    display: inline-block;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    background-size: auto;*/
/*    border-radius: 30px;*/
/*}*/
