{% extends 'profile/profile_details.html' %}
{% block content %}


<div class="banner">
    <section>
        <h1>Stop wishing start <span>doing</span> now!</h1>

        <a href="#" class="button-register">SignUP</a>
        <a href="#" class="button-register">SignIN</a>
        <ul>
            <li class="fa-icon">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </li>
            <li class="fa-icon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </li>
            <li class="fa-icon">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </li>
            <li class="fa-icon">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </li>
        </ul>

    </section>
</div>
<div class="main">
    <section>
        <h2>OUR TEAM</h2>
        <p>Meet with our professional coaches</p>
        <div>
            <div class="coach">
                <a href="#"><img class="coach-img" src="https://www.w3schools.com/w3images/avatar.jpg"
                                 alt="coach photo"></a>
                <h3>name of coach</h3>
                <p>profession</p>
                <ul>
                    <li class="fa-icon">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <p>4.25</p>
                    </li>
                </ul>
            </div>
            <div class="coach">
                <a href="#"><img class="coach-img" src="https://www.w3schools.com/w3images/avatar.jpg"
                                 alt="coach photo"></a>
                <h3>name of coach</h3>
                <p>profession</p>
                <ul>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <p>4.25</p>
                    </li>
                </ul>
            </div>
            <div class="coach">
                <a href="#"><img class="coach-img" src="https://www.w3schools.com/w3images/avatar.jpg"
                                 alt="coach photo"></a>
                <h3>name of coach</h3>
                <p>profession</p>
                <ul>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <p>4.25</p>
                    </li>
                </ul>
            </div>
            <div class="coach">
                <a href="#"><img class="coach-img" src="https://www.w3schools.com/w3images/avatar.jpg"
                                 alt="coach photo"></a>
                <h3>name of coach</h3>
                <p>profession</p>

                <ul>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <p>4.25</p>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <section class="about">
        <h2>ABOUT US</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
    </section>
</div>

{% endblock %}
