{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1><i>Don't sit get <span>FIT</span> !</i></h1>

    <br>
    <div class="box-card view-card">

        <div class="card-title">20.10.2018</div>
        <div class="card-img">
            <img src="https://previews.123rf.com/images/mitoria/mitoria1710/mitoria171000004/90827828-manger-sommeil-train-r%C3%A9p%C3%A9ter-citation-de-motivation-gym-avec-effet-grunge-et-halt%C3%A8re-affiche-inspira.jpg"
                 alt="dfdsf">
        </div>
        <div class="card-text">
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
                in
                their exact original form, accompanied by English versions from the 1914 translation by H.
                Rackham.
            </p>
            {% if true %}
                <button class="button-register" style="background-color: #3f51b5;">Edit Recipe</button>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="card-bottom-half border">
                <a href="#">
                    <div class="value"><i class="fa-solid fa-thumbs-up"></i>10</div>
                    <div class="type">Liked</div>
                </a>
            </div>

            <div class="card-bottom-half"><a href="#">
                <div class="value"><i class="fa-solid fa-heart"></i></div>
                <div class="type">Add to favorite</div>
            </a>

            </div>
        </div>
    </div>

{% endblock %}